<div class="item" image-filename="{{filename}}" image-number="{{@key}}">
    <div class="image-container">
        {{#if isImage}}
            <img src="image/{{filename}}">
        {{else}}
            <div class="filetype-display">{{fileType}}</div>
        {{/if}}
    </div>
    <div class="image-info-container">
        <span class="image-info">#{{@key}}: <a href="image/{{filename}}">{{filename}}</a> </span>
    </div>
    <form method ="POST" action="/files/{{_id}}?_method=DELETE">
        <button class="delete-button button">Delete</button>
    </form>
</div>